[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/SFML-2.6.2"]
	path = external/SFML-2.6.2
	url = https://github.com/SFML/SFML.git
